<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.health">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application android:name="com.bw.health.core.WDApplication">
        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.SetupActivity" />
        <activity android:name=".activity.PingmuActivity" />
        <activity android:name=".activity.MineMessageActivity" />
        <activity android:name=".activity.GuanzhuActivity" />
        <activity
            android:name=".activity.MyCollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MyWallteActivity" />
        <activity android:name=".activity.AddActivity" />
        <activity android:name=".activity.PatientsCircleActivity" />
        <activity android:name=".activity.ReduceActivity" />
        <activity android:name=".activity.MyVideoActivity" />
        <activity android:name=".activity.MyFileActivity" />
        <activity android:name=".activity.AddFileActivity" />
        <activity android:name=".activity.CircleCommentActivity" />
        <activity android:name=".activity.AddFileActivity" />
        <activity android:name=".activity.UpdateFileActivity" />
        <activity android:name=".activity.UpdateSexActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.UpdateNicknameActivity" />
        <activity android:name=".activity.BeAdoptedActivity" />
        <activity android:name=".activity.UpdateSexActivity" />
        <activity android:name=".activity.AddFileActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.UpdateNicknameActivity" />
        <activity android:name=".activity.TaskActivity" />
        <activity android:name=".activity.CepingActivity"></activity>
    </application>

</manifest>