<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.health.mine">

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity android:name="com.wd.health.activity.MineActivity" />
        <activity android:name="com.wd.health.activity.SetupActivity" />
        <activity android:name="com.wd.health.activity.PingmuActivity" />
        <activity android:name="com.wd.health.activity.MineMessageActivity" />
        <activity android:name="com.wd.health.activity.GuanzhuActivity" />
        <activity
            android:name="com.wd.health.activity.MyCollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name="com.wd.health.activity.MyWallteActivity" />
        <activity android:name="com.wd.health.activity.AddActivity" />
        <activity android:name="com.wd.health.activity.PatientsCircleActivity" />
        <activity android:name="com.wd.health.activity.ReduceActivity" />
        <activity android:name="com.wd.health.activity.MyVideoActivity" />
        <activity android:name="com.wd.health.activity.MyFileActivity" />
        <activity android:name="com.wd.health.activity.AddFileActivity" />
        <activity android:name="com.wd.health.activity.CircleCommentActivity" />
        <activity android:name="com.wd.health.activity.UpdateFileActivity" />
        <activity android:name="com.wd.health.activity.UpdateSexActivity" />
        <activity android:name="com.wd.health.activity.SignActivity" />
        <activity android:name="com.wd.health.activity.UpdateNicknameActivity" />
        <activity android:name="com.wd.health.activity.BeAdoptedActivity" />
        <activity android:name="com.wd.health.activity.TaskActivity" />
        <activity android:name="com.wd.health.activity.CepingActivity" />
        <activity android:name="com.wd.health.activity.shiming.ShiMingActivity" />
        <activity android:name="com.wd.health.activity.shiming.BindCardActivity" />
        <activity android:name="com.wd.health.activity.shiming.BandShowActivity" />
        <activity android:name="com.wd.health.activity.shiming.NextCardActivity" />
        <activity android:name="com.wd.health.activity.shiming.CardDetailActivity" />
        <activity android:name="com.wd.health.activity.shiming.ShiMingMessageActivity"></activity>
    </application>

</manifest>
