<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.health.shouye">

    <application>
        <activity android:name="com.bw.health.activity.ZiXunActivity" >

        </activity>
        <activity android:name="com.bw.health.activity.YpOrBzActivity" />
        <activity android:name="com.bw.health.activity.MationDetailActivity" />
        <activity android:name="com.bw.health.activity.BannerDetailActivity" />
        <activity android:name="com.bw.health.activity.BZDetailActivity" />
        <activity android:name="com.bw.health.activity.YPDetailActivity" />
        <activity android:name="com.bw.health.activity.SearchActivity"></activity>
    </application>

</manifest>
