<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.health">

    <application>
        <activity android:name=".activity.ZiXunActivity" />
        <activity android:name=".activity.YpOrBzActivity" />
        <activity android:name=".activity.MationDetailActivity"></activity>
    </application>

</manifest>
