<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.health">

    <application>
        <activity android:name=".activity.ZiXunActivity" >

        </activity>
        <activity android:name=".activity.YpOrBzActivity" />
        <activity android:name=".activity.MationDetailActivity" />
        <activity android:name=".activity.BannerDetailActivity" />
        <activity android:name=".activity.BZDetailActivity" />
        <activity android:name=".activity.YPDetailActivity" />
        <activity android:name=".activity.SearchActivity"></activity>
    </application>

</manifest>
